# Auto detect text files and perform LF normalization
* text=auto

# Binary files - jangan diotak-atik git
*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.ico binary
*.svg binary
